/* @import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900"); */


:root {

  --togglecolor: #000000;


}

.darkmode {

  --togglecolor: #ffffff;

}








.dark-mode-toggle {
  /* position: absolute; */
  z-index: 100;
  top: 2em;
  right: 1em;
  color: var(--togglecolor);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}


.dark-mode-toggle svg{
    margin-bottom: 14.5px;
}





/* for mobilephones */


.dark-mode-trigger {
  /* position: absolute; */
  z-index: 100;
  top: 2em;
  right: 1em;
  color: var(--togglecolor);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}


.dark-mode-trigger svg{
    margin-bottom: 22px;
}
    

