
body{
    background-color: black;
}

#colubtext{
    color: white !important;
}

.navlogo a{
    color: white !important;
}

.navsections .navmidside .navlinks a{
    color: white !important;
}

.navsections .navrightside .navbuttons a{
    color: white !important;
}

/* shout instragram share section */
.shoutmaingroup {
    width: 100%;
    height: inherit;
    background-color: #F9F9F9;
    margin-bottom: 8rem;
    border-radius: 10px;
}

.shout-df {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shout-df .shoutdfimg {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;

}



.shout-df .shoutdfimg img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

}

.shout-instra-img {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shout-instra-img img {
    width: 40rem;
    height: 40rem;
    margin-top: 4rem;
    margin-bottom: 4rem
}


.instrashare button {
    width: 18rem;
    height: 4rem;
    font-family: 'General Sans', sans-serif;
    background-color: black;
    border-radius: 4px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


#colubtext {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: inherit;
    font-family: 'General Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    text-align: start;
    color: var(--titlecolot);
    margin-top: 2rem;
    z-index: 81;
}


.container {
    padding: 0 17rem;
}

#hui {

    padding: 0 0rem;
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 4rem;
}



/* card design svg styling */

.carddesignbody{
    /* width: 100%;
    height: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4REM;
}


.carddesignbody img{
    width: 28rem;
    height: 54rem;
}

.footer{
    background-color: black !important;
    border-top: 1px solid #555;
}

.text-muted {
    color: #ffffff !important;
}


span.one {
 
    background: white !important;
}


span.two {
    background: white !important;
}


/* share button */
.sharebutton1{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.sharebutton1 button{
    background-color: white !important;
    border: black !important;
    color: black !important;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    font-family: 'General Sans', sans-serif;
}

.rty{
    font-size: 20px;
    font-family: 'General Sans', sans-serif;
    color: white;
    text-align: center;
    margin-top: 2rem;
}






@media (min-width: 300px) and (max-width: 349px) {

    #cc58{
        padding: 0 1rem;
    }

    .carddesignbody img {
        width: 18rem;
        height: inherit;
    }

}


@media (min-width: 350px) and (max-width: 400px) {

    #cc58{
        padding: 0 1rem;
    }

    .carddesignbody img {
        width: 20rem;
        height: inherit;
    }

}


@media (min-width: 401px) and (max-width: 500px) {

    #cc58{
        padding: 0 1rem;
    }

    .carddesignbody img {
        width: 22rem;
        height: inherit;
    }

}





